<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Check-In Date:</label>
    <input type="date" formControlName="checkInDate">
    <div *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
        Check-In date is required
    </div>
  </div>

  <div>
    <label>Check-Out Date:</label>
    <input type="date" formControlName="checkOutDate">
  </div>

    <div>
    <label>Guest name:</label>
    <input type="text" formControlName="guestName">
  </div>

  <div>
    <label>Guest email:</label>
    <input type="email" formControlName="guestEmail">
  </div>

  <div>
    <label>Room number:</label>
    <input type="number" formControlName="roomNumber">
  </div>



  <button type="submit" [disabled]="reservationForm.invalid">Submit</button>
</form>
